<div class="container" id="signin">
  <div class="row" >
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 offset-sm-1 offset-md-2 offset-lg-2">
      <form (ngSubmit) = "onSignin(f)" #f="ngForm" novalidate>
        <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
          <label for="email" class="control-label">Email</label>
          <input
            id="email"
            required
            pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            name="email"
            #email="ngModel"
            [(ngModel)]="model.email"
            type="text"
            class="form-control form-control-lg"
            ngModel
          >

          <span class="help-block text-danger" *ngIf = "email.errors?.required && email.touched">Email is required</span>

        </div>
        <div class="form-group" [class.has-error]="password.invalid && password.touched" [class.has-success]="password.valid">
          <label for="password" class="control-label">Password</label>
          <input
            id="password"
            required
            name="password"
            #password="ngModel"
            [(ngModel)] = "model.password"
            type="password"
            class="form-control form-control-lg"
            minlength="8"
          >
          <div *ngIf="password.touched">
            <span class="help-block text-danger" *ngIf = "password.errors?.required">Password is required. </span>
          </div>
        <button class="btn btn-primary btn-dark" type="submit" id="signinbtn" [disabled]="f.invalid">Sign In</button>
        </div>

      </form>
      <br>
      <div class="alert">
        <span class="alert alert-danger" role="alert" *ngIf = "loginFailed">Login Failed!</span>
      </div>

      <hr>

      <div class="text-center">
        <a href="/signup">Don't have an account yet? Sign Up!</a>
      </div>

      <!--<button class="btn btn-info btn-block" id="signupbtn">Sign Up</button>-->


    </div>
  </div>

</div>
