<div class="container" id="dashboard">
  <input class="form-control" type="text" placeholder="Search" >
  <br><br>
  <h4>Instance Information</h4>

  <table class="table table-striped " >
    <thead >
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">State</th>
      <th scope="col">Availability Zone</th>
      <th scope="col">Public IP</th>
      <th scope="col">Private IP</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let server of servers">
      <td>{{server.id}}</td>
      <td>{{server.name}}</td>
      <td>{{server.type}}</td>
      <td>{{server.state}}</td>
      <td>{{server.az}}</td>

      <td>{{server.puip}}</td>
      <td>{{server.prip}}</td>
    </tr>
    </tbody>
  </table>
</div>


