<div class="container" id="dashboard">
  <input class="form-control" type="text" [(ngModel)]="inputSearch" (input)="onSearch()"  placeholder="Search" >
  <br><br>
  <h4>Instance Information</h4>

  <table class="table table-striped" >
    <thead >
    <tr>
      <th scope="col"><a href="javascript:void(0)" (click)="onSort('id')" >Id<i class="fa fa-fw fa-sort" ></i></a></th>
      <th scope="col"><a href="javascript:void(0)" (click)="onSort('name')" >Name<i class="fa fa-fw fa-sort"></i></a></th>
      <th scope="col"><a href="javascript:void(0)" (click)="onSort('type')" >Type<i class="fa fa-fw fa-sort"></i></a></th>
      <th scope="col"><a href="javascript:void(0)" (click)="onSort('state')" >State<i class="fa fa-fw fa-sort"></i></a></th>
      <th scope="col"><a href="javascript:void(0)" (click)="onSort('az')" >Availability Zone<i class="fa fa-fw fa-sort"></i></a></th>
      <th scope="col"><a href="javascript:void(0)" (click)="onSort('puip')" >Public IP<i class="fa fa-fw fa-sort"></i></a></th>
      <th scope="col"><a href="javascript:void(0)" (click)="onSort('prip')" >Private IP<i class="fa fa-fw fa-sort"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let server of servers">
      <td>{{server.id}}</td>
      <td>{{server.name}}</td>
      <td>{{server.type}}</td>
      <td>{{server.state}}</td>
      <td>{{server.az}}</td>
      <td>{{server.puip}}</td>
      <td>{{server.prip}}</td>
    </tr>
    </tbody>
  </table>
</div>


