#dashboard{
  padding-top: 30px;
  padding-bottom: 60px;
}

.table-container{
  overflow-x: auto;;
}

th a {
  display: block;
}

.inline-block {
  display: inline-block;
}

#dropdown{
  float: right;
}
