<div class="container" id="signup">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 offset-sm-1 offset-md-2 offset-lg-2">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <div id="user-data">

          <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
            <label for="email" class="control-label">Email</label>
            <input
              id="email"
              required
              pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              name="email"
              #email="ngModel"
              [(ngModel)]="model.email"
              type="text"
              class="form-control form-control-lg"
            >
              <span class="help-block text-danger" *ngIf = "email.errors?.required && email.touched">Email is required</span>
              <span class="help-block text-danger" *ngIf = "email.errors?.pattern && email.touched">Email is invalid</span>

          </div>

          <div class="form-group" [class.has-error]="password.invalid && password.touched" [class.has-success]="password.valid">
            <label for="password" class="control-label">Password</label>
            <input
              id="password"
              required
              name="password"
              #password="ngModel"
              [(ngModel)] = "model.password"
              type="password"
              class="form-control form-control-lg"
              minlength="8"

            >
            <div *ngIf="password.touched">
              <span class="help-block text-danger" *ngIf = "password.errors?.required">Password is required. </span>
              <span class="help-block text-danger" *ngIf = "password.errors?.minlength ">Password must be at least 8 characters</span>
            </div>


          </div>

          <div class="form-group" [class.has-error]="confirmPassword.invalid && confirmPassword.touched">
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <input
              id="confirmPassword"
              name = "confirmPassword"
              appConfirmEqualvalidator="password"
              required
              type="password"
              class="form-control form-control-lg"
              [(ngModel)]="model.confirmPassword"
              #confirmPassword="ngModel"
            >
            <div *ngIf="confirmPassword.touched">
              <span  class="help-block text-danger" *ngIf = "confirmPassword.errors?.required ">Confirm Password is required </span>
              <span  class="help-block text-danger" *ngIf = "confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">Password and Confirm Password do not match</span>
            </div>
            </div>
          </div>

          <button
            id="signupbtn"
            class="btn btn-primary btn-dark"
            type="submit"
            [disabled]="f.invalid"
          >Sign Up</button>

      </form>
    </div>
  </div>
</div>
